<h1>Teachers#index</h1>
<p>Find me in app/views/teachers/index.html.erb</p>
<%= link_to "Add Teacher", new_school_teacher_path, class:"right blue darken-2 waves-effect waves-light btn" %>
<%= render partial: 'schools/schoolbox', locals: { school: @school } %>

<div class="row">
<% @teachers.each do |teacher| %>
  <%= render partial: 'teacherbox', locals: { teacher: teacher } %>
<% end %>
</div>
<%= paginate @teachers %>
